---
import B from "./ui/B.astro";
import Button from "./ui/Button.astro";
import H1 from "./ui/H1.astro";
---

<H1> Nick Palenchar is a creative in tech.</H1>

<div>
  <p class="mb-5">
    He grew up in the performing arts, but a number of early learn-to-code
    groups such as
    <a href={"https://freecodecamp.org"} target="_blank">FreeCodeCamp</a>, and
    eventually
    <a href={"https://fullstackacademy.com"} target="_blank"
      >Fullstack Academy</a
    > inspired him to code for a living. To date he has {
      Math.floor(
        (Number(new Date()) - Number(new Date("2016-08-01"))) /
          (1000 * 60 * 60 * 24 * 365.25)
      )
    } years of experience working primarily on backend systems, and is currently
    at <a href="https://atlassian.com" target="_blank">Atlassian</a>.
  </p>
</div>
<div class="flex flex-wrap gap-2 justify-center mb-16 space-x-6">
  <Button>Connect on LinkedIn</Button>
  <Button>Considering Bootcamp?</Button>
</div>
<p>
  <B as="h2" highlight={true}>Nick Palenchar is not on social media.</B> He loves
  technology, but believes it best served as a tool for humans: to get things done,
  to share knowledge and—yes—connect with others (in the real world). But he is critical
  of the dark patterns employed by social media companies to profit off our content
  and addictive inclinations.
</p>
<p>
  He is a <a
    href="https://www.penguinrandomhouse.com/books/575667/digital-minimalism-by-cal-newport/"
    target="_blank">Digital Minimalist</a
  >, directly inspired by the works of Cal Newport. He is worried about
  addictive tech is creating a less empathetic and disconnected society.
</p>
<div class="flex flex-wrap gap-2 justify-center mb-16 pt-4">
  <Button>Learn about Digital Minimalism</Button>
</div>
<p>
  <B highlight={true}
    >Nick Palenchar sometimes works on personal tech projects.</B
  >His current project is <a href="https://nickiscooking.com" target="_blank"
    >nickiscooking.com</a
  >, a personal blog of recipes with no ads, trackers, or long-winded stories
  (and open to guest submissions). Out of this project, a recipe-forward
  markdown flavor is coming soon.
</p>
<p>
  He also made open source contributions to <a
    href="https://github.com/hoppscotch/hoppscotch"
    target="_blank">Hoppscotch</a
  > (A postman alternative) in the past, but is not currently a contributor. Most
  of Nick's coding efforts are dedicated to work, while in his free time prioritizes
  non-screen/creative activities to achieve balance between both modes of thinking.
</p>
<div class="flex justify-center mb-16">
  <Button>View all projects</Button>
</div>
<p>
  <B highlight={true}>Nick Palenchar plays piano and performs improv.</B> (He used
  do both better). On stage, he tries to create organic moments, which he believes
  are always funny because humans are funny. Occasionally, he'll post a piano composition
  or arrangement to MuseScore.
</p>
<div class="flex justify-center mb-16">
  <Button href="https://musescore.com/user/34171563">See the Scores</Button>
</div>

<p>
  <B highlight={true}>Nick Palenchar values community building.</B> He's been a volunteer
  organizer in <a href="https://www.nycpickleball.com/">NYC Pickleball</a>, and
  currently runs a board game club.
</p>

<p class="pt-8">
  <B highlight={true}
    >Nick Palenchar is unsure if he is supposed to write in third-person on his
    site.</B
  >
</p>

<p class="pt-8 mb-8">
  <B highlight={true}
    >Nick Palenchar has too many interests and not enough time!</B
  >. Here's some other things he likes.
</p>
<div class="flex flex-wrap gap-2 justify-center mb-16 space-x-2">
  <Button>Fav Books</Button>
  <Button>Fav Movies</Button>
  <Button>Fav Recipes</Button>
  <Button>Fav Podcasts</Button>
  <Button>Fav Articles</Button>
</div>
