---
import { Image } from "astro:assets";
import type { ResumeItem } from "../types/config";

type Props = ResumeItem;

const { title, company, date, description } = Astro.props;
---

<a
  href={company.url}
  class="py-3 flex items-start justify-between group-hover:opacity-60 hover:!opacity-100 transition-opacity"
>
  <div class="flex items-start gap-4 flex-1 pr-4">
    <Image
      src={company.image}
      alt={company.name}
      width={40}
      height={40}
      class="rounded-full w-[40px] h-[40px] object-cover flex-shrink-0"
    />
    <div class="flex-1 min-w-0">
      <h3 class="font-medium">{title}</h3>
      <p class="text-sm opacity-60">{company.name}</p>
      {description && (
        <p class="text-xs opacity-50 mt-1 pr-4">{description}</p>
      )}
    </div>
  </div>
  <p class="text-sm opacity-60 flex-shrink-0">{date}</p>
</a>
